@font-face {
  font-family: Gilroy;
  src: url(/Assets/Fonts/gilroy/Gilroy-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Gilroy;
  src: url(/Assets/Fonts/gilroy/Gilroy-Medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Gilroy;
  src: url(/Assets/Fonts/gilroy/Gilroy-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Gilroy;
  src: url(/Assets/Fonts/gilroy/Gilroy-SemiBold.ttf);
  font-weight: 600;
}
body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  margin: auto;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}
h4 {
  font-family: "Gilroy", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_container {
  max-width: 1100px;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 44px;
  gap: 24px;
}

.nav-items {
  display: flex;
  gap: 40px;
}

.nav-right {
  display: flex;
  gap: 60px;
}
.nav-items a {
  line-height: 21px;
  font-size: 18px;
  font-family: "Gilroy" sans-serif;
  font-weight: 400;
}
.url {
  color: #0065fe;
  font-family: "Gilroy";
  font-weight: 400;
}

.login {
  margin-left: 100px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
}
.login a {
  font-size: 16px;
}

.Trial {
  font-family: "Gilroy";
  font-weight: 400;
  border: 1px solid #0065fe;
  border-radius: 100px;
  background: #0065fe;
  width: 100px;
  text-align: center;
}
.Trial a {
  font-size: 12px;
  color: white;
}
.nav-items .black .dropdown {
  color: #141414;
  border: 1px #141414;
  height: 6px;
  width: 12px;
}

.black {
  color: #141414;
  font-family: "Gilroy";
  font-weight: 400;
}

h2 {
  font-family: "Gilroy";
  font-weight: bold;
  font-weight: 600;
  font-size: 48px;
  line-height: 96px;
  text-align: center;
}
.heading strong {
  color: #005ae2;
}

.under {
  width: 173.6px;
  padding-left: 460px;
  height: 19.91px;
  margin-top: -20px;
}

.paragraph {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #141414;
  width: 900px;
  height: 105px;
  padding-left: 200px;
}

.signup {
  padding-left: 470px;
  gap: 56px;
  display: flex;
}

.blue a {
  font-family: "Gilroy";
  font-weight: 600;
  color: #ffffff;
}

.blue {
  border: 1px solid #0065fe;
  border-radius: 100px;
  background: #0065fe;
  width: 100px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}

.learn a {
  font-family: "Gilroy";
  font-weight: 600;
  color: #0065fe;
}

.card {
  margin-top: 30px;
  height: 224px;
  padding-left: 250px;
  padding-top: 20px;
  width: 833px;
}

.ellipse {
  margin-top: 100px;
  width: 500px;
  height: 93px;
  margin-left: -80px;
}

.ellipse img {
  max-width: 1149px;
  justify-content: center;
  margin: 0 auto;
}

.white-bg-ul {
  max-width: 143px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.title-scis {
  font-size: 40px;
  font-weight: bold;
  width: 382px;
}
.title-32 {
  font-size: 32px;
  font-weight: 600;
}

.text-primary {
  color: #0065fe;
}

.grid {
  display: grid;
}
.grid-col-1 {
  display: grid;
  grid-template-columns: auto;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}


.grid-col-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}


.col-span-2 {
  grid-column: span 2 / span 2;
}

.objectives-image {
  width: 56px;
  height: 56px;
  color: #3284ff21;
  margin-bottom: 20px;
}

.objectives-para {
  font-size: 16px;
  width: 370px;
  height: 192px;
  line-height: 28px;
  padding-left: 5px;
}
.objectives-para-sm {
  font-size: 16px;
  width: 340px;
  height: 80px;
  line-height: 24px;
}

.why-scissors {
  width: 398px;
  height: 256px;
  gap: 20px;
}

.objectives-lg {
  margin-bottom: 20px;
}

.rate-card-header {
    max-width: 576px;
    margin: 0 auto;
    margin-bottom: 42px;
    height: 120px;
    text-align: center;
}


.white-background {
  margin-top: 42px;
  margin-bottom: 42px;
}

.title-24 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 24px;
}
.rate-card {
  max-width: 1440px;
  justify-content: center;
}
.rate-card-price {
    display: flex;
    max-width: 1088px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.basic {
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #005ae2;
  margin-right: -8px;
}

.basic p {
  margin-bottom: 20px;
}

.basic ul li {
  display: flex;
  gap: 6px;
  margin-bottom: 12px;
}

.basic ul {
  margin-bottom: 20px;
}

.basic h5 {
  margin-bottom: 20px;
}

.basic h3 {
  margin-bottom: 10px;
}

.Teams {
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #005ae2;
  margin-left: -10px;
}

.Teams p {
  margin-bottom: 20px;
}

.Teams ul li {
  display: flex;
  gap: 6px;
  margin-bottom: 12px;
}

.Teams ul {
  margin-bottom: 20px;
}

.Teams h5 {
  margin-bottom: 20px;
}

.Teams h3 {
  margin-bottom: 10px;
}
.professional {
  background: #1e3448;
  border-radius: 12px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  z-index: 1;
}

.professional p {
  margin-bottom: 20px;
}

.professional ul li {
  display: flex;
  gap: 6px;
  margin-bottom: 12px;
}
.professional ul {
  margin-bottom: 20px;
}
.professional h5 {
  margin-bottom: 20px;
}

.professional h3 {
  margin-bottom: 10px;
}

.card-paragraph {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.card-14 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.primary-button {
  width: 200px;
  height: 48px;
  border: 1px solid #0065fe;
  background: #0065fe;
  border-radius: 100px;
  color: #ffffff;
  font-family: "Gilroy";
  font-weight: 400;
}

.button-light {
  width: 200px;
  height: 48px;
  border: 1px solid #0065fe;
  background: #ffffff;
  border-radius: 100px;
  color: #0065fe;
  font-family: "Gilroy";
  font-weight: 400;
}

.pricing {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form {
    margin-top: 50px;
    margin-bottom: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/Assets/Images/background\ L.svg) no-repeat,url(/Assets/Images/background\ R.svg) no-repeat,linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
    background-position: 0 100%, 100% 54%;
    padding: 60px 0;
}

.input-1 {
  width: 405px;
  height: 55px;
  border: 1px solid #3284ff;
  border-radius: 12px;
  margin-bottom: 10px;
}

.input-2 {
  width: 202px;
  height: 48px;
  border: 1px solid #3284ff;
  border-radius: 12px;
}

.trim {
  width: 410px;
  height: 48px;
  border-radius: 100px;
  margin: 10px;
  background: #0065fe;
  border-color: #0065fe;
  margin-left: -2px;
  color: #ffffff;
  border: none;
}

::placeholder {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  color: #0065fe;
}

.form-white {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
}

.trim-url {
  font-family: "Gilroy";
  font-weight: 400;
  color: #0065fe;
  width: 400px;
}

.line-70 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.line-70-sm {
  display: flex;
  gap: 10px;
  margin-left: -10px;
  margin-bottom: 20px;
}

.collapse-parent {
  border-bottom: 1px solid #d6d6d6;
  padding-top: 10px;
  padding-bottom: 10px;
}

.collapseitem {
  width: 792px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.collapseitem11 {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.revolution {
    width: 100%;
    height: 299px;
    background-image: url(/Assets/Images/revo-bkg-l.svg),linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
    background-color: #1f3449;
    background-size: contain;
    background-repeat: no-repeat;
}


.revolution-md {
    text-align: center;
}

.revolution-title {
    font-family: 'Gilroy';
    font-weight: bold;
    height: auto;
    font-size: 40px;
    margin-top: 50px;
    color: #ffffff;
}


.footer-h4 {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #071827;
}

.footer-ul {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  width: 1440px;
  height: 561px;
}

.footer-items {
  width: 812px;
  min-height: 384px;
  gap: 24px;
}

.footer-ul-sm {
  max-width: 190px;
}

.footer-ul-smd {
}

#small-footer {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 800px;
}

.gap-20 {
  gap: 20px;
}

.gap-10 {
  gap: 10px;
}
